
/*header*/

*{
  margin: 0px;

  }

html, body{
height: 100%;
}

body{
    background-color:#4d0026;
}

.header {
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  background: url("../img/header.jpg") center top no-repeat;
  z-index: 1;
  background-repeat: no-repeat;
  min-height: 12rem;
  background-size: cover;
}

 #logo img{
   position: relative;
   top:70px;
   left: -5rem;
   height: 10rem;
   width: 25%;
   min-width: 355px;
   min-resolution: 50px;

 }

#logo a.title{
    position: relative;
    display: inline;
    left: 5.2rem;
}

/*navegacion*/

 #MainMenu a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: "arial", Helvetica, sans-serif;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
}

nav{
    background-color: white;
    position: relative;
    min-height: 3rem;
    height: 3rem;
    z-index: 3;
    -webkit-box-shadow: 0px 18px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 24px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 18px 24px -2px rgba(0,0,0,0.75);
  }

@media screen and (max-width:800px){
  #MainMenu{
    display: block;
    position: relative;
    width: 12rem;
    background-color: black;
  }

  #MainMenu a {

    color:white
  }
}

#logo > a {
  text-decoration: none;
  }

a.Menu-item {
left:-10px;
}

div#MainMenu{
  position: relative;
  background-color: black;
  -webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
  z-index: 3;
}

div#MainMenu a {
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  font-family: sans-serif;
}

div#MainMenu a:hover {
  background-color: brown;
}

ul{
  list-style: none;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
    width: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 62px;
    left: 92px;
    top: 0px;
    width: 0px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*social*/

.dropdown-social {
    position: relative;
    float: right;
    height: 0px;
    width: 4rem;
}

.social-Content {
    display: none;
    position: absolute;
    min-width: 160px;
    height: 62px;
    left: -31.5rem;
    bottom: -0.8rem;
    width: 0px;
}

.dropdown-social:hover .social-Content {
    display:flex;
}

a.wine{
padding-left: 1rem;
display: inline;
position: relative;
float: right;
left: -4rem;
top: -3.2rem;
cursor: pointer;
}


a.facebook, a.twitter, a.instagram, a.mail, a.youtube, a.gplus, a.like{

  padding-left: 1rem;
  float:right;
  left: 4rem;
  top: -3.2rem;
}


img{
  height: 3rem;
}

@media screen and (min-width:580px) and (max-width:680px){
  .dropdown-social {
    display: block;
    top: 50rem;
  }
  a.wine{
    left: -0.5rem;
  }

  .social-Content {
    left: -28.5rem;
  }

}

@media screen and (min-width:300px) and (max-width:580px){
  .dropdown-social {
    display: block;
    top: 50rem;
    left: -1rem;
  }

  a.wine{
    left: -0.5rem;
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
  }

  .dropdown-social:hover .social-Content {
      display:block;
      left: -10rem;
  }

  a.like{
    position: relative;
    top:  -6.6rem;
    left: 3.5rem;
  }

  a.youtube{
    position: relative;
    top:-6.5rem;
    left: -8rem;
  }
  a.gplus{
    position: relative;
    top:  -3rem;
    left: -4rem;
  }

}


.principal{
  display: block;
  position: relative;
  background-color: white;
  z-index: 9;
  width: 90%;
  top: 4%;
  left: 5%;
  height: auto;
  -webkit-box-shadow: -2px 18px 19px 12px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 18px 19px 12px rgba(0,0,0,0.75);
box-shadow: -2px 18px 19px 12px rgba(0,0,0,0.75);
z-index: 2;
}

/*contenido*/

.principal-container{
    position: relative;
    display: block;
    width: 95%;
    height: 28rem;
    left: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

.principal-container h1, .principal-container h1 a{
  color: black;
    padding-bottom: 1rem;
    font-family: "arial", Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 4%;
}

.principal-container p, .principal-container p a{
  color:black;
  font-family: "arial", Helvetica, sans-serif;
  text-decoration: none;
}

@media screen and (min-width:300px) and (max-width:813px){
  .principal-container{
      position: relative;
      display: block;
      width: 95%;
      height: 84rem;
      left: ;
      padding-left: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
  }
  }

  @media screen and (min-width:813px) and (max-width:1210px){
    .principal-container{
        position: relative;
        display: block;
        width: 95%;
        height: 51rem;
        left: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
    }

.col
{
  text-align: center;
  float: left;
  width: 30%;
  float: left;
   margin: 5px;
   padding: 15px;
   width: 300px;
   height: 23rem;

}

.footer{
  background-color: black;
  width: 100%;
   height: 8rem;
}
