*{
  margin: 0px;
  }


body{

}



.header {
  position: fixed;
  overflow: hidden;
  border: 1px solid;
  height: auto;
  width: 100%;
  background: url("../img/header.jpg") center top no-repeat;
  z-index: 1;
  background-repeat: no-repeat;
  min-height: 12rem;
  background-size: cover;
}


 #logo img{
   position: fixed;
   max-width: 10rem;
   left: 5rem;
   top: 3rem;
 }

#logo a.title{
    position: relative;
    display: inline;
    left: 5.2rem;
}

 a{
    position: fixed;
    left: 5rem;
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;

}

nav{
    position: relative;
    top:12rem;
    min-height: 4rem;
    height: auto;
    width: 100%;
    z-index: 3;
    -webkit-box-shadow: -6px 3px 36px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: -6px 3px 36px -1px rgba(0,0,0,0.4);
    box-shadow: -6px 3px 36px -1px rgba(0,0,0,0.4);
  }

  .barfondo{
    background-color:white ;
    height: 4rem;
  }

@media screen and (max-width:800px ){
  ul>li>a{
    left:-100%;
  }
}



#logo > a {
  text-decoration: none;
  }

div#MainMenu{
  padding-top: 30px;
  padding-bottom: 20px;
}

div#MainMenu li {
display: inline;

}

div#MainMenu a {
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  font-family: sans-serif;
  padding: 0px 20px;
}

div#MainMenu a:hover {
  color: brown;
}

ul{
  list-style: none;
}

@media screen and (max-width:800px ){
button.togglenav {
      position: relative;
      z-index: 4;
      top: 8rem;
      font-size: 30px;
      background-color: white;
      border: white;
      padding-top: 16px;
      padding-left: 20px;
}
}


button.togglenav:hover{
      color: brown;
}
